
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Act1</title>
</head>
<body>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <FONT FACE="Courier New, serif">
            <FONT SIZE=2>
                <FONT FACE="Times New Roman, serif">
                    <FONT SIZE=3>
                        Акт
                        (выполненных работ, оказанных услуг)
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <FONT FACE="Courier New, serif">
            <FONT SIZE=2>
                <FONT FACE="Times New Roman, serif">
                    <FONT SIZE=3>
                        по
                        договору подряда от <u>@ViewBag.SellNumb</u>
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <FONT FACE="Courier New, serif">
            <FONT SIZE=2>
                <FONT FACE="Times New Roman, serif">
                    <FONT SIZE=3>
                        г.
                        Новоалтайск
                        «__» _______ 2017 г.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0.14in">
        <FONT FACE="Times New Roman, serif">
            <FONT SIZE=3>
                ИП
                Дорогин Н.В
            </FONT>
        </FONT>ОГРНИП  314220822500022<FONT FACE="Times New Roman, serif">
            <FONT SIZE=3>
                именуемый в дальнейшем «Подрядчик» с
                одной стороны, и (@ViewBag.Mont.FIO<span>,</span>  @ViewBag.Mont.PasportNum),
                именуемый в дальнейшем «Субподрядчик»,
                составили настоящий акт о нижеследующем.
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <FONT FACE="Courier New, serif">
            <FONT SIZE=2>
                <FONT FACE="Times New Roman, serif">
                    <FONT SIZE=3>
                        1.
                        Исполнитель оказал услуги(доставка или
                        монтаж). Дата выполнения работ «__»
                        _______ 2017 г.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <FONT FACE="Courier New, serif">
            <FONT SIZE=2>
                <FONT FACE="Times New Roman, serif">
                    <FONT SIZE=3>
                        2.
                        Указанные работы выполнены полностью
                        и в срок. Претензий по объему, качеству
                        и срокам оказания услуг Заказчик не
                        имеет.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <FONT FACE="Courier New, serif">
            <FONT SIZE=2>
                <FONT FACE="Times New Roman, serif">
                    <FONT SIZE=3>
                        3.
                        Сумма вознаграждения Субподрядчику
                        составляет ___________________.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <FONT FACE="Courier New, serif">
            <FONT SIZE=2>
                <FONT FACE="Times New Roman, serif">
                    <FONT SIZE=3>
                        4.
                        Акт составлен в двух экземплярах, по
                        одному для каждой из сторон.
                    </FONT>
                </FONT>
            </FONT>
        </FONT>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <P STYLE="margin-bottom: 0in; line-height: 100%; widows: 0; orphans: 0">
        <BR>
    </P>
    <TABLE WIDTH=669 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=305>
        <COL WIDTH=336>
        <TR VALIGN=TOP>
            <TD WIDTH=305 STYLE="border: none; padding: 0in">
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3>Подрядчик:</FONT></FONT>
                </P>

                <P STYLE="widows: 0; orphans: 0"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>_______________________</FONT></FONT></P>
            </TD>
            <TD WIDTH=336 STYLE="border: none; padding: 0in">
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3>СубПодрядчик:</FONT></FONT>
                </P>

                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
                    <FONT FACE="Times New Roman, serif"><FONT SIZE=3>_____________________</FONT></FONT>
                </P>
                <P ALIGN=JUSTIFY STYLE="widows: 0; orphans: 0">
                    <BR>
                </P>
            </TD>
        </TR>
    </TABLE>
    <br />

    <a href="/Home/Index">Панель менеджера</a>
</body>
</html>
