
@{
    ViewBag.Title = "MontaznikList";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<table class="table table-bordered table-condensed">
    <thead style="background-color: white; opacity: 1;">
        <tr>
            <th>Номер продажи</th>
            <th>Монтажник</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody id="results">
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Number</td>
                <td>@s.Montaznik.FIO</td>
                <td>
                    <form method="get" action="/Manager/ReceivingMonet">
                        <input type="hidden" value="@s.Number" name="number" />
                        <button type="submit" class="btn btn-default">Перейти</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

