
@{
    ViewBag.Title = "PaymentStart";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<form role="form" method="get" action="/Manager/Payment">
    <div class="form-group">
        <label for="numb">Введите номер продажи (вместе с префиксом)</label>
        <input type="text" id="numb" name="number" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Далее</button>
</form>
<br/>
<a href="/Manager/DealerAddMoney" class="btn btn-default">Внести деньги насчёт дилеру</a>
