
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form method="post" role="form" action="/Admin/UserNew/@Model.Id">
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" value="@Model.Login" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="text" id="password" name="password" value="@Model.Password" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="role">Роль</label>
        <select id="role" name="role" class="form-control">
            @if (Model.Role == "admin")
            {
                <option value="admin">Администратор</option>
                <option value="manager">Менеджер</option>
                <option value="production">Производство</option>
            }
            else if (Model.Role == "production")
            {
                <option value="production">Производство</option>
                <option value="manager">Менеджер</option>
                <option value="admin">Админ</option>
            }
            else
            {
                <option value="manager">Менеджер</option>
                <option value="admin">Админ</option>
                <option value="production">Производство</option>
            }
        </select>
    </div>
    @if (Model.Stock != null)
    {
        <div class="form-group">
            <label for="stock">Розница (название)</label>
            <input type="text" id="stock" name="stock" value="@Model.Stock.Name" class="form-control" />
        </div>
    }
    else
    {
        <div class="form-group">
            <label for="stock">Розница (название)</label>
            <input type="text" id="stock" name="stock" class="form-control" />
        </div>
    }
    <button type="submit" class="btn btn-success">Подтвердить</button>
</form>

