
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script>var kk = 0;</script>
</head>
<body>

    <header>
        <div class="container-fluid np">
            <div class="row-fluid">
                <div class="topline">
                    <h2>Панель управления</h2>
                    <div class="user">
                        <span>Пользователь: @User.Identity.Name</span>   <a href="/Account/LogOff" class="btn btn-default">Выход</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-xs-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Меню</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/Admin/Index">Главная</a></li>
                                <li><a href="/Admin/Users">Пользователи</a></li>
                                <li><a href="/Admin/Stocks">Розницы</a></li>
                                <li><a href="/Admin/Dealers">Дилеры</a></li>
                                <li><a href="/Admin/Montazniks">Список Монтажников</a></li>
                                <li><a href="/Admin/Statistic">Статистика</a></li>
                                <li><a href="/Admin/Claims">Заявки на производство</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 ta">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.stickytableheaders.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $('table').stickyTableHeaders();
    </script>
    <script>
      $( function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
      } );
    </script>
    <script>
        var a = null;
        $('.butListGhs').click(function () {
            if (a === null) {
                a = $(this);
                $(this).addClass("input-active");
                console.log(a);
            }
            else {
                var b = $(this).val();
                $(this).val(a.val());
                a.val(b);
                a.removeClass("input-active");
                a = null;                
            }
        })
    </script>
    <script>
        location.hash = "@ViewBag.PackId";
    </script>
    <script>
        var i = kk + 1;
        var add2html;
        $('#add').click(function () {
            add2html = '<div class="line_real" style="margin-right:10px"><div><label for="ghname">Название</label><input type="text" id="ghname' + i + '" name="ghName[' + i + ']" class="input db" /></div> <div><label for="ghamount">Количество</label><input type="text" id="ghamount" name="ghAmount[' + i + ']" class="input db" /><br /></div></div>'
            $('#greenhouses').append(add2html);
            i++;
            k++;
        })
    </script>
    <script>

         var k = kk;
         $('.dropdown-toggle').dropdown();
         $('#group li h4').click(function () {
             var yo = $(this).html();
             $('#ghname' + k + '').val(yo);
         })
    </script>
    <script>
            $('.but_sub').click(function () {
                $('#Modal').css('display', 'block');
                document.getElementById('password').value = '';
                document.getElementById('pass_sub').classList.add('disabled')
            });

            $('#but_unsub').click(function () {
                $('#Modal').css('display', 'none');
                document.getElementById('password').value = '';
                document.getElementById('pass_sub').classList.add('disabled')
            })
    </script>
</body>
</html>
